
body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    padding: 0;
  
}

header,
footer,
.top-content {
    background-color: #1F2937;
    padding: 2px;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px 170px;
}

header ul {
    color: #E5E7EB;
    font-size: 18px;
    display: flex;
    gap: 16px;   
    list-style: none;
}

header p {
    font-weight: bold;
}


header p,
.top-content p {
    color: #F9FAF8;
    font-size: 24px;
}

.top-content {
    padding: 50px 170px;
    display: flex;
    align-items: center;
}

.top-content h1 {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: bolder;
    margin-bottom: 0px;
}

.top-content p {
    margin-top: 2px;
    font-size: 16px;
}

.top-content img {
    color: white;
    text-justify: distribute;
    padding: 90px 220px;
    margin: 20px;
    background-color: darkgray;
}

.top-content button {
    background-color: #3882F6;
    padding: 8px 24px;
    border: solid 2px #3882F6;
    border-radius: 8px;
    color: #F9FAF8;
    font-weight: bold;
}

.information h1{
    font-weight: 36px;
    font-weight: bolder;
    color: #1F2937;
    text-align: center;
    padding: 20px;
    margin-bottom: 30px;
}

.cards {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 16px;
}
.cards img {
    border: solid 4px blue;
    border-radius: 10px;
    padding: 80px;
    margin: 10px;
}
.cards p {
    width: 160px;
    margin-top: 4px;
    margin-bottom: 60px;
}

.quote {
    background-color: #E5E7EB;
    padding: 50px 170px;

    
}

.quote-text {
    font-style: italic;
    font-size: 36px;
    font-weight: lighter;
    color: #1F2937;
}

.sign {
    color: black;
    font-weight: bold;
    text-align: end;
}

.sign-up-section {
    background-color: #3882F6;
    color: #E5E7EB;
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    padding: 30px 170px;
    margin: 50px 120px;
}

.sign-up-section h2 {
    font-weight: bolder;
}
.sign-up-section button {
    border: solid 2px white;
    background-color: #3882F6;
    padding: 8px 24px;
    border-radius: 8px;
    color: #F9FAF8;
    font-weight: bold;
}
footer p {
    text-align: center;
    color: #E5E7EB;
    padding: 30px;
}